* {
	margin: 0;
	padding: 0;
	font-family: 'Raleway';
}

nav {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	max-height: 50px;
	background-color: dimgrey;
	color: floralwhite;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 550;
	color: dimgrey;
}

nav .left_wrapper {
	display: flex;
	padding: 5px;
	flex-direction: row;
	font-size: 1.8em;
}

nav .left_wrapper img {
	max-width: 40px;
	max-height: 40px;
}

nav .left_wrapper p {
	padding-top: 5px;
	padding-left: 10px;
}

nav a  {
	color: floralwhite;
	text-decoration: none;
}

nav .right_wrapper .top_nav li {
	padding-top: 10px;
	padding-right: 10px;
	list-style: none;
	display: inline-block;
	font-size: 1.8em;
}

nav .right_wrapper .top_nav li .projects_nav {
	display: none;
	border: 1px solid dimgray;
	background-color: floralwhite;
	color: dimgray;
	position: absolute;
	min-width: 160px;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

nav .right_wrapper .top_nav .drop {
	cursor: pointer;
}

.wrapper div:nth-child(odd) {
	text-align: left;
	border-bottom: 1px solid dimgray;
	min-height: 500px;
	padding: 10px;
}

.wrapper div:nth-child(even) {
	text-align: right;
	border-bottom: 1px solid dimgray;
	min-height: 500px;
	padding: 10px;
}

.wrapper #projects {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	border: none;
}

.drop {
	position: relative;
	display: inline-block;
}

.pdrop {
	cursor: pointer;
}

.dropdown {
	display: none;
	position: absolute;
	background-color: floralwhite;
	min-width: 160px;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
	z-index: 1;
}

.dropdown a {
	color: dimgray;
	/* padding: 12px 16px; */
	padding: 5px;
	font-size: 0.6em;
	text-decoration: none;
	display: block;
}

.dropdown a:hover {
	background-color: dimgray;
	color: floralwhite;
}

.drop:hover .dropdown {
	display: block;
}

.drop:hover .pdrop {
	background-color: floralwhite;
	color: dimgray;
}

.images {
	margin: 10px 0;
	display: flex;
	justify-content: space-around;
}